<div class="flex items-center justify-center">
  <div>
    <%= render partial: "shared/avatar", locals:{user: current_user} %>
    <div id="mypage_name">
      名前
    </div>
    <div id="user_name">
      <%= current_user.name %>
    </div>
    <div id="mypage_number_of_consecutive_days">
      日記の連続投稿日数(作成日時を参照)
    </div>
    <div id="number_of_consecutive_days">
      <%= @past_count %>
      日
    </div>
    <div id="mypage_remind">
      LINE通知の設定
    </div>
    <div id="remind" class="form-control">
      <% if current_user.remind %>
        <%= button_to update_remind_profile_path, class: "btn btn-success", method: :patch do %>
          LINE通知はONです
        <% end %>
      <% else %>
        <%= button_to update_remind_profile_path, class: "btn btn-neutral", method: :patch do %>
          LINE通知はOFFです
        <% end %>
      <% end %>
    </div>
    <div id="mypage_qr">
      バズダイアリー公式アカウントを友達追加
    </div>
    <div id="qr">
      <%= image_tag "qrcode.png", class: "img-top mx-5", width: "70", height:"70" %>
    </div>
  </div>
</div>