<div class="flex flex-col items-center justify-center">
  <div class="text-2xl font-bold py-3">
    マイページ
  </div>

  <%= render partial: "shared/avatar", locals: { user: current_user } %>

  <%= render partial: "shared/info_row", locals: { label: "名前", value: current_user.name } %>
  <%= render partial: "shared/info_row", locals: { label: "日記の連続投稿日数(作成日時を参照)", value: "#{@past_count} 日" } %>
  <%= render partial: "shared/info_row", locals: { label: "コメント投稿数", value: "#{@comments_count} 個" } %>
  <%= render partial: "shared/info_row", locals: { label: "いいねした日記の数", value: "#{@likes_count} 個" } %>

  <div class="text-xl py-3">LINE通知の設定</div>

  <% if @friendship %>
    <div id="remind" class="form-control">
      <%= button_to update_remind_profile_path, class: current_user.remind ? "btn btn-success" : "btn btn-neutral", method: :patch do %>
        LINE通知は<%= current_user.remind ? "ON" : "OFF" %>です
      <% end %>
    </div>
  <% else %>
    <div class="text-center">
      まずはバズダイアリー公式アカウントを友だち追加！
    </div>
    <div class="flex items-center justify-center">
      <%= render partial: "line_friend" %>
    </div>
  <% end %>
</div>
