<div id="comment-<%= comment.id %>">
  <div class="chat chat-end flex flex-row-reverse my-3">
    <div class="flex">
      <div class="chat-bubble mx-3 bg-white text-black">
        <p><%= simple_format(comment.body) %></p>
      </div>
      <div class="avatar pt-1 relative">
        <div class="w-10 h-10 rounded-full absolute top-2 left-1">
          <% if comment.user.image.present? %>
            <%= image_tag comment.user.image %>
          <% else %>
            <%= image_tag '/assets/avatar.png', alt: "#{comment.user.name}のアバター" %>
          <% end %>
        </div>
        <% case comment.user.diary_css %>
          <% when 0 %>
            <div class="w-12 h-12 rounded-full bg-green-500"></div>
          <% when 1 %>
            <div class="w-12 h-12 rounded-full bg-yellow-400"></div>
          <% when 2 %>
            <div class="w-12 h-12 rounded-full bg-sky-500"></div>
          <% when 3 %>
            <div class="w-12 h-12 rounded-full bg-rose-600"></div>
          <% when 4 %>
            <div class="w-12 h-12 rounded-full bg-fuchsia-700"></div>
          <% when 5 %>
            <div class="w-12 h-12 rounded-full bg-teal-300"></div>
        <% end %>
      </div>
      <div>
        <h3 class="small"><%= comment.user.name %></h3>
        <% if user_signed_in? && current_user.own?(comment) %>
          <div class="action mx-3">
            <%= link_to comment_path(comment.id), class: "delete-comment-link", data:{turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
              <i class="fa-regular fa-trash-can"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>