<div id="comment-<%= comment.id %>">
  <div class="chat chat-end flex flex-row-reverse my-3">
    <div class="flex">
      <div class="chat-bubble mx-3">
        <p><%= simple_format(comment.body) %></p>
      </div>
      <%= image_tag "https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg", width: "50", height: "50", class: "rounded-full" %>
      <div>
        <h3 class="small"><%= comment.user.name %></h3>
        <% if current_user.own?(comment) %>
          <div class="action mx-3">
            <%= link_to comment_path(comment.id), class: "delete-comment-link", data:{turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
              <i class="fa-regular fa-trash-can"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>