<div id="diary-id-<%= diary.id %>" class="card flex flex-row my-9">
  <div class="avatar pt-1">
    <div class="w-20 h-20 rounded-full">
      <% if diary.user.image.present? %>
        <%= image_tag diary.user.image %>
      <% else %>
        <%= image_tag '/assets/avatar.png', alt: "#{diary.user.name}のアバター" %>
      <% end %>
    </div>
  </div>
  <div class="card-body pt-2">
    <div class="flex flex-row justify-between">  
      <div class="user-name text-black font-bold text-xl flex">
        <%= diary.user.name %>
        <% if current_user && current_user.own?(diary) %>
          <div class="action mx-3">
            <%= link_to edit_diary_path(diary.id), class: "edit-comment-link" do %>
              <i class="fa-regular fa-pen-to-square"></i>
            <% end %>
            <%= link_to diary_path(diary.id), class: "delete-comment-link", data: { turbo_method: :delete , turbo_confirm: t('defaults.delete_confirm') } do %>
              <i class="fa-regular fa-trash-can"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="created-at">
        <%= l diary.created_at, format: :short %>
      </div>
    </div>
    <%= link_to diary_path(diary.id) do %>
      <div class="flex">
        <div class="card-diary-date">
          <%=diary.diary_date %><%= t("diaries.diary_date") %>
        </div>
        <div class="card-exist-image mx-2 pt-0">
          <% if diary.diary_image.present? %>
            <%= t("diaries.with_image") %>
          <% end %>
        </div>
      </div>
      <div class="card-title">
        <%= diary.title %>
      </div>
    <% end %>
    <div id="like-<%=diary.id%>" class="flex pt-3">
      <%= button_to likes_path(diary_id: diary.id), id: "btn_animation", method: { turbo_method: :post } do %>
        <% case diary.user.like_css %>
        <% when 0 %>
          <i class="btnn fa-solid fa-heart text-7xl pt-2 text-green-500"></i>
        <% when 1 %>
          <i class="btnn fa-solid fa-heart text-7xl pt-2 text-amber-300"></i>
        <% when 2 %>
          <i class="btnn fa-solid fa-heart text-7xl pt-2 text-blue-500"></i>
        <% when 3 %>
          <i class="btnn fa-solid fa-heart text-7xl pt-2 text-rose-500"></i>
        <% when 4 %>
          <i class="btnn fa-solid fa-heart text-7xl pt-2 text-fuchsia-600"></i>
        <% end %>
      <% end %>
      <div id="count-<%= diary.id %>" class="text-base mx-7 pt-3">
        <h2><%= diary.likes_count || 0 %></h2>
      </div>
    </div>
  </div>
</div>