<div id="diary-id-<%= diary.id %>" class="card flex flex-row my-9">
  <div class="avatar pt-1">
    <div class="w-20 h-20 rounded-full">
      <%= image_tag "https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg", alt: "#{diary.user.name}のアバター" %>
    </div>
  </div>
  <div class="card-body pt-2">
    <div class="flex flex-row justify-between">  
      <div class="user-name font-black font-bold text-xl flex">
        <%= diary.user.name %>
        <div class="action mx-3">
          <%= link_to "#", class: "edit-comment-link" do %>
            <i class="fa-regular fa-pen-to-square"></i>
          <% end %>
          <%= link_to "#", class: "delete-comment-link" do %>
            <i class="fa-regular fa-trash-can"></i>
          <% end %>
        </div>
      </div>
      <div class="created-at">
        <%= l diary.created_at, format: :short %>
      </div>
    </div>
    <%= link_to diary_path(diary.id) do %>
      <div class="flex">
        <div class="card-diary-date">
          <%=diary.diary_date %><%= t("diaries.diary_date") %>
        </div>
        <div class="card-exist-image mx-2 pt-0">
          <% if diary.diary_image.present? %>
            <%= t("diaries.with_image") %>
          <% end %>
        </div>
      </div>
      <div class="card-title">
        <%= diary.title %>
      </div>
    <% end %>
  </div>
</div>