<%= form_with model: @diary, class: "w-full max-w-3xl mx-auto" do |f| %>
  <div class="mb-3">
    <%= f.label :diary_date %>
    <%= f.date_field :diary_date, class: "input input-bordered input-success", value: Date.today %>
  </div>
  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title, class: "input input-bordered input-success w-full" %>
  </div>
  <div class="mb-3">
    <%= f.label :body %>
    <%= f.text_area :body, class: "textarea textarea-success w-full", rows: "15" %>
  </div>
  <div class="mb-3">
    <%= f.label :diary_image %>
    <%= f.file_field :diary_image, class: "form-control", accept: 'image/*' %>
    <%= f.hidden_field :diary_image_cache %>
  </div>
  <% if @diary.diary_image.present? %>
    <div class="mb-3">
        <%= image_tag @diary.diary_image.url, class: "img-top", width: "100", height:"100"  %>
    </div>
  <% end %>
  <button class="btn btn-success  w-full">
    <%= f.submit "保存", class: "" %>
  </button>
<% end %>