<article class="card my-9">
  <div class="chat chat-start w-auto">
    <div class="avatar pt-1">
      <div class="w-10 h-10 rounded-full">
        <%= image_tag "https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg", alt: "#{diary.user.name}のアバター" %>
      </div>
    </div>
    <div class="chat-bubble">
      <div class="card-body pt-2">
        <div class="flex">
          <div class="card-diary-date">
            <%=diary.diary_date %><%= t("diaries.diary_date") %>
          </div>
        </div>
        <div class="card-title">
          <%= diary.title %>
        </div>
        <div class="card-text">
          <%= diary.body %>
        </div>
        <div class='ms-auto'>
          <%= link_to '#', id: "button-edit-#{diary.id}" do %>
            <i class="bi bi-pencil-fill"></i>
          <% end %>
          <%= link_to '#', id: "button-delete-#{diary.id}", method: :delete, data: { confirm: '本当にこの日記を削除しますか？' } do %>
            <i class="bi bi-trash-fill"></i>
          <% end %>
        </div>
    </div>
  </div>
  <% if diary.diary_image.present? %>
    <div class="chat-bubble my-2">
      <div class="card-exist-image mx-2 pt-0">
        <%= image_tag diary.diary_image.url, class: "img-top", width: "400", height:"400"  %>
      </div>
    </div>
  <% end %>
</article>
<div class="created-at pb-12">
  <%= l diary.created_at, format: :short %>
</div>