<article class="card my-9">
  <div class="chat chat-start w-72">
    <div class="avatar pt-1 relative">
      <div class="w-10 h-10 rounded-full absolute top-2 left-1">
        <% if diary.user.image.present? %>
          <%= image_tag diary.user.image %>
        <% else %>
          <%= image_tag '/assets/avatar.png', alt: "#{diary.user.name}のアバター" %>
        <% end %>
      </div>
      <% case diary.user.diary_css %>
        <% when 0 %>
          <div class="w-12 h-12 rounded-full bg-green-500"></div>
        <% when 1 %>
          <div class="w-12 h-12 rounded-full bg-yellow-400"></div>
        <% when 2 %>
          <div class="w-12 h-12 rounded-full bg-sky-500"></div>
        <% when 3 %>
          <div class="w-12 h-12 rounded-full bg-rose-600"></div>
        <% when 4 %>
          <div class="w-12 h-12 rounded-full bg-fuchsia-700"></div>
        <% when 5 %>
          <div class="w-12 h-12 rounded-full bg-teal-300"></div>
      <% end %>
    </div>
    <div class="chat-bubble bg-white text-black">
      <div class="card-body pt-2">
        <div class="flex">
          <div class="card-diary-date text-xs">
            <%=diary.diary_date %><br>
            <%= t("diaries.diary_date") %>
          </div>
        </div>
        <div class="card-title text-base">
          <%= diary.title %>
        </div>
        <div class="card-text text-base">
          <%= diary.body %>
        </div>
        <div class="text-xs text-gray-400">
        作成日時：<br>
        <%= l diary.created_at, format: :short %>
      </div>
    </div>
  </div>
  <% if diary.diary_image.present? %>
    <div class="chat-bubble my-2">
      <div class="card-exist-image mx-2 pt-0">
        <%= image_tag diary.diary_image.to_s, class: "img-top", width: "400", height:"400"  %>
      </div>
    </div>
  <% end %>
</article>

<div class="relative mb-12">
  <% if current_user && current_user.own?(diary) %>
    <div class="action">
      <%= link_to edit_diary_path(diary.id), class: "edit-comment-link" do %>
        <i class="fa-regular fa-pen-to-square"></i>
      <% end %>
      <%= link_to diary_path(diary.id), class: "delete-comment-link", data: { turbo_method: :delete , turbo_confirm: t('defaults.delete_confirm') } do %>
        <i class="fa-regular fa-trash-can"></i>
      <% end %>
    </div>
  <% end %>
  <div id="like-<%=diary.id%>">
    <%= button_to likes_path(diary_id: diary.id), id: "btn_animation", method: { turbo_method: :post } do %>
      <% if diary.likes_count >= 0 && diary.likes_count < 500 %>
        <div class="btn0">
      <% elsif diary.likes_count >= 500 && diary.likes_count < 1000 %>
        <div class="btn1">
      <% elsif diary.likes_count >= 1000 && diary.likes_count < 10000 %>
        <div class="btn2">
      <% else %>
        <div class="btn3">
      <% end %>
        <% case diary.user.like_css %>
        <% when 0 %>
          <i class="fa-solid fa-heart text-5xl pt-2 text-green-500"></i>
        <% when 1 %>
          <i class="fa-solid fa-heart text-5xl pt-2 text-yellow-400"></i>
        <% when 2 %>
          <i class="fa-solid fa-heart text-5xl pt-2 text-sky-500"></i>
        <% when 3 %>
          <i class="fa-solid fa-heart text-5xl pt-2 text-rose-600"></i>
        <% when 4 %>
          <i class="fa-solid fa-heart text-5xl pt-2 text-fuchsia-700"></i>
        <% when 5 %>
          <i class="fa-solid fa-heart text-5xl pt-2 text-teal-300"></i>
        <% end %>
      </div>
      <div id="count-<%= diary.id %>">
        <% if diary.likes_count >= 0 && diary.likes_count < 10 %>
          <div class="absolute text-black top-8 left-5">
        <% elsif diary.likes_count >= 10 && diary.likes_count < 100 %>
          <div class="absolute text-black top-8 left-4">
        <% elsif diary.likes_count >= 100 && diary.likes_count < 1000 %>
          <div class="absolute text-black top-8 left-2">
        <% elsif diary.likes_count >= 1000 && diary.likes_count < 10000 %>
          <div class="absolute text-black top-8 left-1">
        <% else %>
          <div class="absolute text-black top-8 left-0">
        <% end %>
          <h2><%= diary.likes_count || 0 %></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>