<% content_for(:title, @diary.title) %>
<div class="container pt-5">
  <div class="mb-3">
    <div class="user-name text-center font-black font-bold text-2xl">
      <%= @diary.user.name %>
    </div>
    <div class="flex items-flex-end">
      <%= render partial: "show_diary", locals: {diary: @diary} %>
    </div>
    <div id="like-<%=@diary.id%>" class="flex items-center">
      <% if current_user.own?(@diary) %>
        <%= button_to diary_likes_path(diary.id), id: "btn_animation", class: "flex btn_box" do %>
          <i class="btnn fa-solid fa-heart text-5xl pt-2"></i>
          <h1 class="text-base mx-10 pt-5"><%= Like.likes_count(diary.id) || 0 %></h1>
        <% end %>
      <% else %>
        <div id: "btn_animation", class: "flex btn_box">
          <i class="btnn fa-solid fa-heart text-5xl pt-2"></i>
          <h1 class="text-base mx-10 pt-5"><%= Like.likes_count(diary.id) || 0 %></h1>
        </div>
      <% end %>
    </div>
    <%# コメントフォーム %>
    <div class="row">
      <div class="">
        <div class="table">
          <div id="table-comment">
            <%= render partial: "comments/comment", collection: @comments %>
          <div>
        </div>
        <%= render partial: "comments/form", locals: {comment: @comment, diary: @diary} %>
      </div>
    </div>
  </div>
</div>