<table>
  <thead>
    <tr>
      <th>
        <%= t('missions.id') %>
      </th>
      <th>
        <%= t('missions.content') %>
      </th>
      <th>
        <%= t('missions.status') %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% challenge_missions.each do |mission| %>
      <tr>
        <td><%= mission.id %></td>
        <td><%= mission.title %></td>
        <td>
          <% if challenge_status[mission.id]&.status %>
            <%= t('missions.true') %>
          <% else %>
            <%= t('missions.false') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
