<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>
          <%= t('missions.id') %>
        </th>
        <th>
          <%= t('missions.content') %>
        </th>
        <th>
          <%= t('missions.status') %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% challenge_missions.each do |mission| %>
        <tr>
          <td><%= mission.id %></td>
          <td><%= mission.title %></td>
          <td>
            <% if challenge_status[mission.id]&.status %>
              <div class="font-bold text-green-500">
                <%= t('missions.true') %>
              </div>
            <% else %>
              <div class="font-bold">
                <%= t('missions.false') %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
