<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>
        </th>
        <th>
          <%= t('missions.content') %>
        </th>
        <th>
          <%= t('missions.description') %>
        </th>
        <th>
          <%= t('missions.status') %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% challenge_missions.each do |mission| %>
        <tr>
          <th><%= mission.id %></th>
          <td><%= mission.title %></td>
          <td><%= mission.description %></td>
          <td>
            <% if challenge_status[mission.id]&.status %>
              <div class="font-bold text-green-500">
                <%= t('missions.true') %>
              </div>
              <div class="text-gray-600">
                <% app_url = "https://buzzdiaries.com/diaries" %>
                <% twitter_share_url = "https://twitter.com/share?url=#{app_url}&text=チャレンジミッション%0a[ バズダイアリーで#{mission.title} ]%0a達成!%0a%0a日記がバズりやすくなりましたっ%0a%0a" %>
                <%= link_to twitter_share_url, target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xで自慢しちゃおう!" do %>
                  <i class="fa-brands fa-x-twitter fa-2xl"></i>
                <% end %>
              </div>
            <% else %>
              <div class="font-bold">
                <%= t('missions.false') %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
