<div id="navbarSupportedContent">
  <ul class="flex justify-between mt-3">
    <li class="nav-item">
      <%= navbar_link(diaries_path, "fa-solid fa-tent", "ホーム", "home") %>
    </li>

    <li class="nav-item">
      <%= navbar_link(ranking_path, "fa-solid fa-crown", "表彰", "search") %>
    </li>

    <li class="nav-item">
      <%= navbar_link(new_diary_path, "fa-solid fa-plus", "日記作成", "create") %>
    </li>

    <li class="nav-item">
      <%= navbar_link(memories_path, "fa-regular fa-calendar-days", "思い出", "memory") %>
    </li>

    <li class="nav-item">
      <%= navbar_link(profile_path, "fa-solid fa-user", "マイページ", "profile") %>
    </li>
  </ul>
</div>
