<div id="navbarSupportedContent">
  <ul class="flex nav-bar items-center ml-8">
    <li class="nav-item w-full">
      <%= link_to diaries_path, class: "nav-link", id: "home" do %>
        <div class="text-4xl">
          <i class="fa-solid fa-tent"></i>
        </div>
        <div class="text-sm">
          ホーム
        </div>
      <% end %>
    </li>

    <li class="nav-item w-full">
      <%= link_to "#", class: "nav-link", id: "search" do %>
        <div class="text-4xl">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="text-sm">
          検索
        </div>
      <% end %>
    </li>

    <li class="nav-item w-full">
      <%= link_to new_diary_path, class: "nav-link", id: "create" do %>
        <div class="text-4xl">
          <i class="fa-solid fa-plus"></i>
        </div>
        <div class="text-sm">
          日記作成
        </div>
      <% end %>
    </li>

    <li class="nav-item w-full"> 
      <%= link_to memories_path, class: "nav-link", id: "memory" do %>
        <div class="text-4xl">
          <i class="fa-regular fa-calendar-days"></i>
        </div>
        <div class="text-sm">
          思い出
        </div>
      <% end %>
    </li>

    <li class="nav-item w-full"> 
      <%= link_to "#", class: "nav-link", id: "profile" do %>
        <div class="text-4xl">
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="text-sm">
          マイページ
        </div>
      <% end %>
    </li>
  </ul>
</div>