<% content_for(:title, t("title.memory")) %>
<div class="text-2xl font-bold flex items-center justify-center">
  <h1><%= t("title.memory") %></h1>
</div>
<%= month_calendar(events: @diaries) do |date, diaries| %>
  <%= date.day %>
  <% diaries.each do |diary| %>
    <div class="relative">
      <div id="like-<%=diary.id%>" class="flex right-0.5">
        <% case diary.user.like_css %>
        <% when 0 %>
          <i class="fa-solid fa-heart text-5xl pt-2 text-green-500"></i>
        <% when 1 %>
          <i class="fa-solid fa-heart text-5xl pt-2 text-yellow-400"></i>
        <% when 2 %>
          <i class="fa-solid fa-heart text-5xl pt-2 text-sky-500"></i>
        <% when 3 %>
          <i class="fa-solid fa-heart text-5xl pt-2 text-rose-600"></i>
        <% when 4 %>
          <i class="fa-solid fa-heart text-5xl pt-2 text-fuchsia-700"></i>
        <% when 5 %>
          <i class="fa-solid fa-heart text-5xl pt-2 text-teal-300"></i>
        <% end %>
      </div>
      <div id="count-<%= diary.id %>">
        <% if diary.likes_count >= 0 && diary.likes_count < 10 %>
          <div class="absolute text-black top-5 left-5">
        <% elsif diary.likes_count >= 10 && diary.likes_count < 100 %>
          <div class="absolute text-black top-5 left-4">
        <% elsif diary.likes_count >= 100 && diary.likes_count < 1000 %>
          <div class="absolute text-black top-5 left-3">
        <% elsif diary.likes_count >= 1000 && diary.likes_count < 10000 %>
          <div class="absolute text-black top-5 left-2">
        <% else %>
          <div class="absolute text-black top-5 left-1">
        <% end %>
          <h2><%= diary.likes_count || 0 %></h2>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<table class="flex items-center justify-center">
  <tbody>
    <%= render partial: "memory_diary", collection: @diaries %>
  </tbody>
</table>