<% content_for(:title, t("title.memory")) %>
<%= month_calendar(events: @diaries) do |date, diaries| %>
  <%= date.day %>
  <% diaries.each do |diary| %>
    <div class="flex">
      <i class="fa-solid fa-heart-circle-check text-2xl pt-2" style="color: #65c294;"></i>
      <div id="count-<%=diary.id%>", class="text-base pt-3">
        <h2><%= diary.likes_count || 0 %></h1>
      </div>
    </div>
  <% end %>
<% end %>
<table class="flex items-center justify-center">
  <tbody>
    <%= render partial: "memory_diary", collection: @diaries %>
  </tbody>
</table>