<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>     

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/d7bfabcd52.js" crossorigin="anonymous"></script>
    <script>
      function loadMissions(type, targetId) {
        fetch(`/missions/${type}`)
          .then(response => response.text())
          .then(html => {
            document.getElementById(targetId).innerHTML = html;
          })
          .catch(error => console.error('Error loading missions:', error));
      }
    </script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
      document.addEventListener('turbo:load', function() {
        particlesJS.load('particles-js', 'particles.json', function() {
          console.log('callback - particles.js config loaded');
        });
      });
    </script>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <div class="flex flex-col min-h-screen bg-white">
      <header class="flex justify-between bg-wakatake h-15 text-white z-50">  
        <% if user_signed_in? %>
          <%= render partial: "shared/header" %>
        <% else %>
          <%= render partial: "shared/before_login_header" %>
        <% end %>
      </header>
      <% flash.each do |message_type, message| %>
        <div class="flex justify-center alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
      <div class="pb-44">
        <%= render partial: "shared/footer" %>
      </div>
    </div>
    <% if current_user && params[:controller] == 'diaries' && params[:action] == 'index' %>
      <div class="fixed bottom-24 right-9">
        <%= render partial: "diaries/like_everything", locals: {user: current_user} %>
      </div>
    <% end %>
      <nav class="fixed h-20 bottom-0 w-full bg-wakatake text-white">
        <%= render "shared/nav" %>
      </nav>
  </body>
</html>
