<!DOCTYPE html>
<html>
  <head>
    <title>PraiseDiary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/d7bfabcd52.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="min-h-screen">
      <%= render "shared/before_login_header" %>
      <body class="">
        <%= yield %>
      </body>
    </div>
    <%= render "shared/nav" %>
    <%= render "shared/footer" %>
  </body>
</html>
