<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>     

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/d7bfabcd52.js" crossorigin="anonymous"></script>
    <script>
      function loadMissions(type, targetId) {
        fetch(`/missions/${type}`)
          .then(response => response.text())
          .then(html => {
            document.getElementById(targetId).innerHTML = html;
          })
          .catch(error => console.error('Error loading missions:', error));
      }
    </script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
      document.addEventListener('turbo:load', function() {
        particlesJS.load('particles-js', 'particles.json', function() {
          console.log('callback - particles.js config loaded');
        });
      });
    </script>
    <%= favicon_link_tag('favicon.ico') %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body>
    <% if params[:controller] == 'diaries' && params[:action] == 'show' %>
      <% case @diary.user.theme_css %>
        <% when 0 %>
          <div class="flex flex-col min-h-screen bg-green-100">
        <% when 1 %>
          <div class="flex flex-col min-h-screen bg-yellow-100">
        <% when 2 %>
          <div class="flex flex-col min-h-screen bg-sky-100">
        <% when 3 %>
          <div class="flex flex-col min-h-screen bg-rose-100">
        <% when 4 %>
          <div class="flex flex-col min-h-screen bg-fuchsia-100">
        <% when 5 %>
          <div class="flex flex-col min-h-screen bg-teal-100">
      <% end %>
    <% else %>
      <div class="flex flex-col min-h-screen bg-white">
    <% end %>
      <header class="fixed w-full bg-wakatake h-15 text-white z-50"> 
        <div class="flex justify-between">
          <% if user_signed_in? %>
            <%= render partial: "shared/header" %>
          <% else %>
            <%= render partial: "shared/before_login_header" %>
          <% end %>
        </div>
      </header>

      <div class="pt-20" >
        <% flash.each do |message_type, message| %>
          <div class="flex justify-center alert alert-<%= message_type %>">
            <%= message %>
          </div>
        <% end %>
        <%= yield %>
      </div>
      <div class="pb-44">
        <%= render partial: "shared/footer" %>
      </div>
    </div>
    <% if current_user && params[:controller] == 'diaries' && params[:action] == 'index' %>
      <div class="fixed bottom-24 left-4">
        <%= render partial: "diaries/like_everything", locals: {user: current_user} %>
      </div>
    <% end %>
      <nav class="fixed h-20 bottom-0 w-full px-3 bg-wakatake text-white">
        <%= render "shared/nav" %>
      </nav>
  </body>
</html>
