<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>     

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/d7bfabcd52.js" crossorigin="anonymous"></script>
    <script>
      function loadMissions(type) {
        fetch(`/missions/${type}`)
          .then(response => response.text())
          .then(html => {
            document.getElementById('mission-list').innerHTML = html;
          })
          .catch(error => console.error('Error loading missions:', error));
      }
    </script>
  </head>

  <body>
    <div class="min-h-screen bg-white w-full">
      <% if current_user %>
        <%= render "shared/header" %>
      <% else %>
        <%= render "shared/before_login_header" %>
      <% end %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
      <div class="pb-44">
        <%= render "shared/footer" %>
      </div>
    </div>
    <% if current_user && request.path == diaries_path %>
      <div class="fixed bottom-20" style="right: 64px">
        <%= render partial: "diaries/like_everything" %>
      </div>
    <% end %>
    <%= render "shared/nav" %>
  </body>
</html>
